<tr>
    <td style="vertical-align: top; text-align: center; padding-right: 1em;">
        <div style="display: table; width: 2.5em; height: 2.5em; border-radius: 50%; background-color: #477998; color: white; font-size: 0.6em; text-align: center; padding-right: 1.5em;">
            <b style="display: table-cell; vertical-align: middle;">#step_duration#</b>
        </div>
    </td>
    <td style="vertical-align: top; text-align: justify; text-justify: distribute; padding-bottom: 1em;">
        <span style="font-size: 0.6em; line-height: 0.1; padding-top: -1em;">#step_dsc#</span>
    </td>
</tr>